= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .form-wrapper
    %h1 Sign Up
    = devise_error_messages!
    %form
      .form-item
        = f.label "メールアドレス"
        %br/
        = f.email_field :email, autofocus: true
      .form-item
        = f.label "名前"
        %br/
        = f.text_field :username, autofocus: true
      .form-item
        = f.label "パスワード"
        - if @validatable
          %em
            (#{@minimum_password_length}文字以上)
        %br/
        = f.password_field :password, autocomplete: "off"
      .form-item
        = f.label "パスワード確認"
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
      = f.radio_button :nature, '1'
      HOST
      \#{f.radio_button :nature, '2'} GUEST
      .button-panel
        .actions
          = f.submit "サインアップ" ,:class => "button"
