<div class="index_box">
  <% @setting.each do |i| %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <%= putstime(i) %>
      </div>
      <!-- List group -->
      <ul class="list-group">
        <% @schedules.each do |t| %>
          <% if t.shift_time == i %>
          <li class="list-group-item"><%= t.user.username %><%= link_to "削除", "/dates/#{params[:date]}/#{t.id}", :method => :delete , class: "shift_delete"%></li>
          <% end %>
        <%end%>
        <a href="/dates/<%=params[:date]%>/add_shift/<%= i %>" class="list-group-item">追加</a>
      </ul>
    </div>
  <%end%>
</div>


