<p class="text-center">シフトの時間区分を設定してください</p>
<p class="text-center">例) 9時~13時 => 9-13
<div class="acount_box" >
  <%= form_tag("/groups/#{params[:id]}/acount_setting_decide", :method => :post) do%>
    <% date.each do|i| %>
      <div class="panel panel-default">
        <div class="panel-heading"><%= i %><%= hidden_field_tag 'posts[][day]', "#{i}" %></div>
        <div class="panel-body">
          <label>最大人数:</label><%= text_field_tag 'posts[][people][]' %></label><br>
          <label>時間区分:</label><br>
          <% (1..4).each do |i| %>
            <%= text_field_tag 'posts[][time][]'%>
          <% end %>
        </div>
        <%= hidden_field_tag 'posts[][time][]',"なし" %>
      </div>
    <% end %>
    <div class= "submit_shift" >
      <input class="btn-primary" type="submit" >
    </div>
  <%end%>
</div>

