<ul class="nav nav-tabs">
  <li class="active" id="display"><a href="#tab1" data-toggle="tab">All Shift</a></li>
  <li id="display"><a href="#tab2" data-toggle="tab" >Today Shift</a></li>
</ul>
<!-- / タブ-->
 <div class="index_box">
  <% if current_user.nature == 2 %>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="tab1">
        <% @date.each do |date| %>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><%= date %></h3>
            </div>
            <% @decide_shift.each do |i| %>
              <% if i.date == date %>
                <div class ="panel-body">
                  <%= putstime(i.shift_time) %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <a href ="/users/<%= current_user.id %>/shifts/next_month"><button type="button" class="btn btn-primary">Next Month</button></a>
      </div>
      <div class="tab-pane fade" id="tab2">
        <table class="table">
          <thead>
            <th>タイムスケジュール</th>
          </thead>
          <tbody>
            <% (1..24).each do |i| %>
                <tr class="<%= "info" if @today_schedules.present? && @start.to_i <= i && i < @finish.to_i %>">
                  <td><%= "#{i}:00" %></td>
                </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  <% elsif current_user.nature == 1 %>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="tab1">
        <% @date.each do |date| %>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <a href="/dates/<%= date %>"><h3 class="panel-title"><%= date %></h3></a>
            </div>
          </div>
        <% end %>
        <a href ="/users/<%= current_user.id %>/shifts/next_month"><button type="button" class="btn btn-primary">Next Month</button></a>
      </div>
      <div class="tab-pane fade" id="tab2">
        <% if @setting.present? %>
          <% @setting.each do |i| %>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <%= putstime(i) %>
              </div>
              <!-- List group -->
              <ul class="list-group">
                <% @schedules.each do |t| %>
                  <% if t.shift_time == i %>
                  <li class="list-group-item"><%= t.user.username %><%= link_to "削除", "/dates/#{@today_date}/#{t.id}", :method => :delete , class: "shift_delete"%></li>
                  <% end %>
                <%end%>
                <a href="/dates/<%=@today_date%>/add_shift" class="list-group-item">追加</a>
              </ul>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
  <% end %>
</div>

