%ul.nav.nav-tabs
  %li#display.active
    %a{"data-toggle" => "tab", :href => "#tab1"} All Shift
  %li#display
    %a{"data-toggle" => "tab", :href => "#tab2"} Today Shift
/ / タブ
.index_box
  - if current_user.nature == 2
    #myTabContent.tab-content
      #tab1.tab-pane.fade.in.active
        - @date.each do |date|
          .panel.panel-primary
            .panel-heading
              %h3.panel-title= date
            - @decide_shift.each do |i|
              - if i.date == date
                .panel-body
                  = putstime(i.shift_time)
        %a{:href => "/users/#{current_user.id}/shifts/next_month"}
          %button.btn.btn-primary{:type => "button"} Next Month
      #tab2.tab-pane.fade
        %table.table
          %thead
    %th タイムスケジュール
    %tbody
      - (1..24).each do |i|
        %tr{:class => ("info" if @today_schedules.present? && @start.to_i <= i && i < @finish.to_i)}
          %td= "#{i}:00"
  - elsif current_user.nature == 1
    #myTabContent.tab-content
      #tab1.tab-pane.fade.in.active
        - @date.each do |date|
          .panel.panel-primary
            .panel-heading
              %a{:href => "/dates/#{date}"}
              %h3.panel-title= date
        %a{:href => "/users/#{current_user.id}/shifts/next_month"}
          %button.btn.btn-primary{:type => "button"} Next Month
      #tab2.tab-pane.fade
        - if @setting.present?
          - @setting.each do |i|
            .panel.panel-primary
              .panel-heading
                = putstime(i)
              / List group
              %ul.list-group
                - @schedules.each do |t|
                  - if t.shift_time == i
                    %li.list-group-item
                      = t.user.username
                      = link_to "削除", "/dates/#{@today_date}/#{t.id}", :method => :delete , class: "shift_delete"
              %a.list-group-item{:href => "/dates/#{@today_date}/add_shift"} 追加
