.submit_contents
  = form_tag("/groups/#{params[:id]}/shifts", :method => :post) do
    - @schedules.each do |i|
      - if @set_time[i.wday].first != "なし"
        .panel.panel-default
          .panel-body= i
          .panel-footer
            = select "schedules[#{i}]", :shift_time, @set_time[i.wday].map{|t| [t, t]}
    .submit
      %button.btn.btn-primary{:type => "submit"} 送信
    .input-append.bootstrap-timepicker
      %input{:id => "timepicker1", :type => "text", :class => "input-small"}
      %span{:class => "add-on"}
        %i{:class => "icon-time"}