<% if params[:keyword].blank? %>
  <div class="search_margin">
    <form>
      <%= form_for('/groups/#{params[:id]}/search', method: :get) do |f| %>
        <div class="group_form">
          <h1>グループ検索</h1>
          <input class="input-medium search-query" name="keyword" placeholder="グループ名" type="text" value="">
        </div>
        <div class="group_form_submit">
          <button type="submit" class="btn"> 検 索 </button>
        </div>
      <% end %>
    </form>
  </div>
<%else%>
  <form>
    <%= form_for('/groups/#{params[:id]}/search', method: :get) do |f| %>
      <input class="input-medium search-query" name="keyword" placeholder="<%= params[:keyword] %>" type="text" value="">
      <button type="submit" class="btn"> 検 索 </button>
    <% end %>
  </form>
  <div class="result">
    <%= form_tag("/groups", method: :post) do |f| %>
      <p> 検索結果</p>
      <% @group_name.each do |g| %>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <%= g.name %><button type="submit" id="confirm" class="btn btn-primary locate_button">申請</button>
            <input type="hidden" name="group" value="<%= g.id %>">
          </div>
          <div class="panel-body">
            <p><%= g.contents %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
