- if params[:keyword].blank?
  .search_margin
    %form
      = form_for('/groups/#{params[:id]}/search', method: :get) do |f|
        .group_form
          %h1 グループ検索
          %input.input-medium.search-query{:name => "keyword", :placeholder => "グループ名", :type => "text", :value => ""}/
        .group_form_submit
          %button.btn{:type => "submit"} 検 索
- else
  %form
    = form_for('/groups/#{params[:id]}/search', method: :get) do |f|
      %input.input-medium.search-query{:name => "keyword", :placeholder => params[:keyword], :type => "text", :value => ""}/
      %button.btn{:type => "submit"} 検 索
  .result
    = form_tag("/groups", method: :post) do |f|
      %p 検索結果
      - @group_name.each do |g|
        .panel.panel-default
          / Default panel contents
          .panel-heading
            = g.name
            %button#confirm.btn.btn-primary.locate_button{:type => "submit"} 申請
            %input{:name => "group", :type => "hidden", :value => g.id}/
          .panel-body
            %p= g.contents
